* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    background-color: hotpink;
    padding: 20px;
    border: 5px solid black;
    margin-bottom: 100px;
}

.box2 {
    background-color: blue;
    color: white;
    margin-top: 20px;
}

h1 {
    padding: 20px;
}

.den {
    padding-bottom: 50px;
}

.margin-20 {
    margin-bottom: 20px;
    background-color: bisque;
}

.margin-50 {
    margin-top: 50px;
    background-color: green;
}

.contenedor {
    display: flex;
}

.p-1 {
    background-color: aqua;
    width: 250px;

}

.p-2 {
    margin-left: -100px;


}